{% extends 'admin/master.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="container">
            <label for="logo" class="logo-label">
                <img src="{{ url_for('static', filename='images/logorwe.jpg') }}" alt="Logo da RWE">
            </label>     
        <h1>Bem-vindo à página de administração de Tickets de T.I!</h1>
    </div>
{% endblock %}
