<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tickets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <!-- Adicione outros links para bibliotecas ou arquivos CSS aqui, se necessário -->
</head>
<body>
    <div class="container mt-5">
        <h2>Lista de Tickets</h2>
        <hr>
        <h3>Novo Ticket</h3>
        <form action="/adicionar_ticket" method="POST">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="setor">Setor:</label>
                <input type="text" class="form-control" id="setor" name="setor">
            </div>
            <div class="form-group">
                <label for="categoria">Categoria:</label>
                <input type="text" class="form-control" id="categoria" name="categoria">
            </div>
            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <input type="text" class="form-control" id="descricao" name="descricao">
            </div>
            <div class="form-group">
                <label for="patrimonio">Patrimônio:</label>
                <input type="text" class="form-control" id="patrimonio" name="patrimonio">
            </div>
            <div class="form-group">
                <label for="status">Status:</label>
                <input type="text" class="form-control" id="status" name="status">
            </div>
            <!-- Adicione outros campos do formulário conforme necessário -->
            <button type="submit" class="btn btn-primary">Adicionar</button>
        </form>
        <hr>
        <h3>Tickets Existente</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Setor</th>
                    <th>Categoria</th>
                    <th>Descrição</th>
                    <th>Patrimônio</th>
                    <th>Status</th>
                    <th>Data de Criação</th>
                    <th>Horário Inicial Atendimento</th>
                    <th>Pausa Horário Atendimento</th>
                    <th>Retomado Horário Atendimento</th>
                    <th>Horário Final Atendimento</th>
                    <th>SLA</th>
                    <!-- Adicione outras colunas da tabela conforme necessário -->
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.nome }}</td>
                    <td>{{ ticket.email }}</td>
                    <td>{{ ticket.setor }}</td>
                    <td>{{ ticket.categoria }}</td>
                    <td>{{ ticket.descricao }}</td>
                    <td>{{ ticket.patrimonio }}</td>
                    <td>{{ ticket.status }}</td>
                    <td>{{ ticket.data_criacao }}</td>
                    <td>{{ ticket.horario_inicial_atendimento }}</td>
                    <td>{{ ticket.pausa_horario_atendimento }}</td>
                    <td>{{ ticket.horario_retomado_atendimento }}</td>
                    <td>{{ ticket.horario_final_atendimento }}</td>
                    <td>{{ ticket.sla }}</td>
                    <!-- Adicione outras colunas da tabela conforme necessário -->
                    <td>
                        <a href="/editar_ticket/{{ ticket.id }}" class="btn btn-sm btn-info">Editar</a>
                        <a href="/excluir_ticket/{{ ticket.id }}" class="btn btn-sm btn-danger">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
