<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Ticket</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Navbar -->
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('report_generate_report_view.index') }}">Relatórios</a></li>
            <li><a href="{{ url_for('admin.index') }}">Administração</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
        </ul>
    </nav>
    
    <div class="container">
        <label for="logo" class="logo-label">
            <img src="{{ url_for('static', filename='images/rweLogo.svg') }}" alt="Logo da RWE">
        </label>
        <form action="/submit" method="POST">
            <div class="user-box">
                <input type="text" id="nome" name="nome" required>
                <label for="nome">Qual seu nome?</label>
            </div>
            <div class="user-box">
                <input type="email" id="email" name="email" required>
                <label for="email">Qual seu e-mail?</label>
            </div>
            <div class="user-box">
                <select id="setor" name="setor" required>
                    <option value="" disabled selected hidden></option>
                    <option value="Recepção">Recepção</option>
                    <option value="Comercial">Comercial</option>
                    <option value="Planejamento">Planejamento</option>
                    <option value="Sac-Atendimento">Sac/Atendimento</option>
                    <option value="Juridico">Jurídico</option>
                    <option value="Serviços">Serviços</option>
                    <option value="Desenvolvimento">Desenvolvimento</option>
                    <option value="Operacional">Operacional</option>
                    <option value="Rercursos-Humanos">Recursos Humanos</option>
                    <option value="Cobrança">Cobrança</option>
                    <option value="Financeiro">Financeiro</option>
                </select>
                <label for="setor">Qual seu setor?</label>
            </div>
            <div class="user-box">
                <select id="categoria" name="categoria" required>
                    <option value="" disabled selected hidden></option>
                    <option value="computador">Computador</option>
                    <option value="internet">Internet</option>
                    <option value="pasta-rede">Pasta de Rede</option>
                    <option value="telefonia">Telefonia</option>
                    <option value="sistema">Sistema</option>
                    <option value="novo-colaborador">Novo Colaborador</option>
                    <option value="retirada-equipamento">Retirada de Equipamento</option>
                    <option value="troca-estacao-trabalho">Troca de Estação de Trabalho</option>
                    <option value="outros">Outros</option>
                </select>
                <label for="categoria">Categoria do Ticket:</label>
            </div>
            <div class="user-box">
                <textarea id="descricao" name="descricao" required></textarea>
                <label for="descricao">Descrição do Problema:</label>
            </div>
            <div class="user-box">
                <input type="text" id="patrimonio" name="patrimonio" required>
                <label for="patrimonio">Patrimônio</label>
            </div>
            <button type="submit" class="button">ENVIAR TICKET</button>
        </form>
    </div>
    <footer>
        <p>© 2024 Sistema de Administração de Tickets. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
