{% extends 'master.html' %}

{% block title %}Agradecimento{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
<div class="container text-center">
    <label for="logo" class="logo-label">
        <img src="{{ url_for('static', filename='images/rweLogo.svg') }}" alt="Logo da RWE" class="img-fluid mx-auto d-block">
    </label>
    <h2>Obrigado pelo seu contato!</h2>
    <p>Sua solicitação foi recebida com sucesso. Em breve, entraremos em contato para ajudá-lo.</p>
    <a href="{{ url_for('index') }}" class="btn btn-primary">Voltar à Página Inicial</a>
</div>
{% endblock %}
